$primary-color: #131314;
$secondary-color: #dbdbdb;
$tertiary-color: #ffffff;

//Fonts
$primary-font: 'Neuve-Regular';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    font-family: $primary-font, sans-serif;
    font-weight: 400;
    color: $secondary-color;
    background-color: $primary-color;
}

.selectingcolor {
    color: rgb(206, 197, 255);
}

//Components
@import './components-styles/Button-styles.scss';
@import './components-styles/Card-styles.scss';
@import './components-styles/Footer-styles.scss';
@import './components-styles/MobileMenu-styles.scss';
@import './components-styles/Navigation-styles.scss';
@import './components-styles/Cardlist-styles.scss';
@import './components-styles/Accordion-styles.scss';
