.portfolio {
    margin: 80px auto;
    max-width: 1440px;
    padding: 0 15px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        margin: 100px 0 40px;

        .images {
            &--desktop {
                display: none;
            }
        }

        h2 {
            font-size: 1.6rem;
            line-height: 2.5rem;
            font-weight: 400;
            color: #959595;
            transform: translateY(-35%);
        }
    }

    &__hero {
        display: flex;
        flex-direction: column;

        .intro {
            font-size: 3.6rem;
            word-spacing: -8%;
            letter-spacing: -2px;

            span:nth-child(1) {
                font-size: 4.2rem;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
            }

            span:nth-child(2) {
                font-size: 4.2rem;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                color: #a59bd8;

                .slash {
                    font-size: 2.5rem;
                    margin: 0 4px;
                }

                .and {
                    font-size: 3rem;
                }
            }
        }

        .description {
            font-size: 1.2rem;
            color: #a5a5a5;
            width: 80%;
            margin: 40px 0;
        }
    }

    &__navigation {
        h1 {
            font-size: 7.5rem;
            font-weight: 400;
        }

        .filters {
            &--desktop {
                display: none;
            }
        }
    }

    &__works {
        margin-top: 40px;
    }
}

@media (min-width: 576px) {
    .portfolio {
        &__header {
            gap: 250px;

            h2 {
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        &__hero {
            .intro {
                text-indent: 100px;
                text-align: justify;
            }

            .description {
                width: 50%;
            }
        }
    }
}

@media (min-width: 768px) {
    .portfolio {
        padding: 0 50px;

        &__header {
            gap: 250px;

            .images {
                img {
                    width: 150px;
                }
                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                }
            }

            h2 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }

        &__hero {
            .intro {
                font-size: 4rem;
                line-height: 4.2rem;
                letter-spacing: -2px;
            }

            .description {
                align-self: flex-end;
                // text-align: right;
                width: 35%;
            }
        }
    }
}

@media (min-width: 992px) {
    .portfolio {
        padding: 0 60px;

        &__header {
            gap: 450px;
        }

        &__hero {
            .intro {
                font-size: 5.8rem;
                line-height: 6rem;
                letter-spacing: -2px;

                span:nth-child(1) {
                    font-size: 6.5rem;
                }

                span:nth-child(2) {
                    font-size: 6.5rem;

                    .slash {
                        font-size: 4rem;
                        margin: 0 6px;
                    }

                    .and {
                        font-size: 4.5rem;
                    }
                }
            }

            .description {
                font-size: 1.4rem;
                color: #a5a5a5;
                width: 30%;
                margin: 100px 0;
            }
        }

        &__navigation {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h1 {
                font-size: 10rem;
                font-weight: 400;
            }

            .filters {
                &--desktop {
                    display: block;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    gap: 5px;
                    list-style: none;

                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    button {
                        font-size: 2rem;
                        color: $tertiary-color;
                        background: none;
                        border: none;
                        transition: 0.2s linear;
                        cursor: pointer;

                        &::after {
                            content: '';
                            display: block;
                            height: 18px;
                            width: 100%;
                            background: url(../../public/assets/logo-small.svg) no-repeat center;
                            opacity: 0;
                        }

                        &:hover {
                            color: #cec5ff;
                        }

                        &:focus {
                            color: #a47cf2;
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &__works {
            margin-top: 60px;
        }
    }
}

@media (min-width: 1200px) {
    .portfolio {
        padding: 0 125px;

        &__header {
            gap: 550px;
        }

        &__hero {
            .intro {
                font-size: 5.7rem;
                line-height: 6rem;

                .slash {
                    font-size: 4rem;
                }

                .and {
                    font-size: 8rem;
                }
            }

            .description {
                width: 28%;
            }
        }
    }
}

@media (min-width: 1440px) {
    .portfolio {
        &__header {
            justify-content: space-between;

            h2 {
                width: 250px;
            }
        }

        &__hero {
            .intro {
                text-indent: 32%;
            }

            .description {
                width: 18%;
            }
        }

        &__navigation {
            .filters {
                ul {
                    gap: 40px;
                }
            }
        }
    }
}
