.work {
    color: $tertiary-color;

    &__topbar {
        height: 80px;
        border-bottom: 1px solid #626262;

        &--mobile {
            display: none;
        }
    }

    &__content {
        padding: 15px;

        .close {
            position: absolute;
            top: 20px;
            right: 15px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 15px;

        margin: 40px 0;

        h1 {
            order: 0;
            line-height: 4.8rem;
            font-size: 4.8rem;
            font-weight: 400;
        }

        .link {
            order: 1;
            display: flex;
            align-items: center;
            gap: 10px;

            a {
                font-size: 1.8rem;
                color: #626262;
            }
        }

        .tags {
            order: 2;
            display: flex;
            gap: 3px;
        }
    }

    &__box {
        width: 100%;
        padding: 36px 0;
        margin: 30px 0;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;

        &--primary {
            color: #000000;
            background-color: $tertiary-color;
        }

        &--secondary {
            color: $tertiary-color;
            background-color: none;
            border: 1px solid $tertiary-color;
        }
    }

    &__overview {
        display: flex;
        flex-direction: column-reverse;

        .description {
            p {
                font-size: 1.8rem;
                margin: 30px 0;
            }

            ul {
                font-size: 1.8rem;
                padding: 0 18px 50px;
            }
        }

        .images {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-bottom: 60px;

            &__img {
                width: 100%;
                transition: 0.2s linear;

                &--first {
                    position: absolute;
                    top: 0;
                    animation: animation-up 5s linear forwards;
                }

                &--second {
                    position: relative;
                    top: -10px;
                    animation: animation-down 5s linear forwards;
                }

                &--single {
                    position: relative;
                    animation: animation-down 5s linear forwards;
                }
            }
        }
    }

    &__design {
        .header {
            h1 {
                font-size: 3rem;
                margin: 40px 0;
                font-weight: 400;
            }

            p {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        .slogans {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.8rem;
                line-height: 2.5rem;
                margin-top: 30px;
            }

            .slogan {
                display: flex;
                flex-direction: column;
                align-items: center;

                &__circle {
                    width: 280px;
                    height: 280px;
                    border: 1px solid $tertiary-color;
                    border-radius: 280px;
                    text-align: center;
                    line-height: 280px;
                    margin: 50px 0;
                    font-weight: 400;
                }

                &__underline {
                    width: 100%;
                    border-bottom: 0.5px solid #808080;

                    span {
                        display: block;
                        width: 33.33%;
                        transform: translateY(1.5px);
                        border-bottom: 2px solid $tertiary-color;
                    }

                    &--second {
                        span {
                            transform: translate(100%, 1.5px);
                        }
                    }

                    &--third {
                        span {
                            transform: translate(200%, 1.5px);
                        }
                    }
                }
            }
        }
    }

    &__result {
        display: flex;
        flex-direction: column;
        margin: 60px 0;

        p {
            font-size: 1.8rem;
        }

        &--mobile {
            display: block;
            margin-top: 70px;
        }

        &--desktop {
            display: none;
        }
    }
}

@media (min-width: 576px) {
    .work {
        &__design {
            .slogans {
                .slogan {
                    &__circle {
                        width: 500px;
                        height: 500px;
                        border-radius: 500px;
                        line-height: 500px;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .work {
        padding: 15px 25px;
        &__design {
            .slogans {
                .slogan {
                    &__circle {
                        width: 600px;
                        height: 600px;
                        border-radius: 600px;
                        line-height: 600px;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .work {
        padding: 0;

        &__topbar {
            &--mobile {
                display: block;
            }
        }

        &__content {
            padding: 0 25px;

            .close {
                top: 110px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            margin: 90px 0 10px;

            h1 {
                font-size: 5.8rem;
            }

            .link {
                order: 2;
                width: 100%;
            }
        }

        &__overview {
            display: flex;
            flex-direction: row;

            .description {
                flex-basis: 50%;
            }

            .images {
                align-self: flex-start;
                flex-basis: 50%;

                margin: 20px 0;

                &__img {
                    &--first {
                        top: 0;
                        left: 25px;
                    }

                    &--second {
                        top: -10px;
                        left: 15px;
                    }

                    &--single {
                        top: 0;
                        left: 15px;
                    }
                }
            }
        }

        &__design {
            .header {
                display: flex;
                flex-direction: column;

                margin-top: 100px;

                h1 {
                    font-size: 4.8rem;
                    margin: 40px 0;
                }

                p {
                    align-self: flex-end;
                    width: 490px;
                    font-size: 2.4rem;
                }
            }

            .slogans {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                p {
                    width: 300px;
                    margin-top: 30px;
                }

                .slogan {
                    &__circle {
                        width: 300px;
                        height: 300px;
                        border-radius: 300px;
                        line-height: 300px;
                        font-size: 2.5rem;
                    }

                    &__underline {
                        display: none;
                    }
                }
            }
        }

        &__result {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
                margin-top: 70px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .work {
        &__content {
            padding: 0 125px;

            .close {
                top: 110px;
                right: 125px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &__overview {
            .images {
                &__img {
                    &--first {
                        top: 0;
                        left: 45px;
                    }

                    &--second {
                        top: -10px;
                        left: 35px;
                    }
                }
            }
        }

        &__design {
            .slogans {
                .slogan {
                    &__circle {
                        width: 310px;
                        height: 310px;
                        border-radius: 310px;
                        line-height: 310px;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .work {
        &__design {
            .slogans {
                .slogan {
                    &__circle {
                        width: 390px;
                        height: 390px;
                        border-radius: 390px;
                        line-height: 390px;
                    }
                }
            }
        }
    }
}
//Image animation
@keyframes animation-down {
    to {
        transform: translateY(10px);
    }
}

@keyframes animation-up {
    to {
        transform: translateY(-10px);
    }
}
