@font-face {
    font-family: 'Aeonik-Thin';
    src: local('Aeonik-Thin'), url('./components/fonts/Aeonik-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Aeonik-Regular';
    src: local('Aeonik-Regular'), url('./components/fonts/Aeonik-Regular.otf') format('opentype');
}

@import './styles/Main.scss';
@import './styles/Info.scss';
