@font-face {
    font-family: 'Aeonik-Thin';
    src: local('Aeonik-Thin'), url('./components/fonts/Aeonik-Thin.otf') format('truetype');
}

@font-face {
    font-family: 'Aeonik-Light';
    src: local('Aeonik-Light'), url('./components/fonts/Aeonik-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Aeonik-Regular';
    src: local('Aeonik-Regular'), url('./components/fonts/Aeonik-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Aeonik-Medium';
    src: local('Aeonik-Medium'), url('./components/fonts/Aeonik-Medium.otf') format('opentype');
}

@import './styles/Portfolio.scss';
@import './styles/Info.scss';
@import './styles/Work.scss';
