.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-width: 292px;
    min-height: 292px;
    padding: 20px 14px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, #000 100%);
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &__title {
        font-weight: 400;
        font-size: 3rem;
    }

    &__tags {
        display: flex;
        margin-top: 15px;
        gap: 2px;
    }

    &:hover {
        color: #cec5ff;
        border: 1px solid #cec5ff;
    }
}

@media (min-width: 576px) {
    .card {
        width: 362px;
        height: 362px;
        padding: 30px 20px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 390px;
        height: 390px;
        padding: 30px 20px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 390px;
        height: 390px;
        padding: 40px 30px;
    }
}
