.worklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 992px) {
    .worklist {
        margin-top: 70px;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;

        width: 800px;
        margin: 0 auto;

        .card {
            flex-basis: 50%;
        }
    }
}

@media (min-width: 1440px) {
    .worklist {
        width: 100%;
        gap: 10px;
    }
}
