$links_transition: 0.3s;

.footer__wrapper {
    width: 100%;
    border-top: 0.5px solid #c6c6c6;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    height: 320px;
    padding: 60px 14px 30px;

    &__title {
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-size: 1.7rem;
        gap: 17px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
    }

    .copyright {
        align-self: flex-end;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 250;
        color: #808080;

        span {
            color: inherit;
        }
    }
}

@media (min-width: 1140px) {
    .footer {
        flex-direction: row;

        max-width: 1440px;
        height: 135px;
        padding: 30px 125px;

        &__title {
            flex-basis: 125px;

            a:hover {
                transition: $links_transition;
                color: #cec5ff;
            }
        }

        &__links {
            flex-direction: row;
            gap: 95px;

            a:hover {
                transition: $links_transition;
                color: #a47cf2;
            }
        }

        a {
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }

            .link__hover {
                opacity: 0;
                transition: $links_transition;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__socials {
            flex-basis: 125px;
            gap: 50px;

            .link:hover path {
                transition: $links_transition;
                fill: #a47cf2;
            }
        }
    }
}
