.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 0.5px solid #c6c6c6;
    z-index: 1;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;

    img {
        width: 50px;
        height: 50px;
    }

    a {
        font-size: 1.7rem;
    }

    &__menu {
        width: 25px;
        height: 20px;
    }
}

@media (min-width: 768px) {
    .desktop {
        display: block;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1440px;
            padding: 30px 60px;
        }

        &__title {
            a {
                font-size: 1.7rem;
                transition: 0.3s;

                &:hover {
                    color: #cec5ff;
                }
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
            gap: 67px;
            list-style: none;

            a {
                font-size: 1.7rem;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #cec5ff;
                }
            }
        }
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .desktop {
        &__wrapper {
            padding: 30px 60px;
        }
    }
}

@media (min-width: 1200px) {
    .desktop {
        &__wrapper {
            padding: 30px 125px;
        }
    }
}

@media (min-width: 1440px) {
    .desktop {
        &__wrapper {
            padding: 30px 125px;
        }
    }
}

.scrolled {
    position: fixed;
    background: rgba(130, 130, 130, 0.23);
    box-shadow: 0px 15px 58px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4.5px);
}

.oppened {
    background-color: #080808;
    box-shadow: none;
    backdrop-filter: none;
}
